@media(max-width: 1260px) {
    .info__title {
        font-size: 0.8rem;
    }

    .info__text {
        font-size: 0.8rem;
    }

    .info__item {
        padding: 2rem;
    }

    .about__content {
        padding-right: 2rem;

    }

}

@media(max-width: 1000px) {
    .info__title {
        letter-spacing: unset;
    }

    .info__text {
        letter-spacing: unset;
    }

    .info__item {
        padding: 1rem;
    }

    .about__content {
        padding-right: 2rem;

    }

    .about__title {
        font-size: 1.5rem;

    }

    .about__text {
        font-size: 0.8rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

    }

    .services__text {
        bottom: 1rem;
        left: 1rem;
        letter-spacing: unset;
    }

    .services__content {
        height: 23rem;
    }

    .intro {
        height: 32rem;
    }

    .intro__wrapper {
        height: 630px;
        justify-content: center;
    }

    .intro__title {
        font-size: 2rem;

    }

    .intro__block {
        text-align: center;
    }

    .header__logo img {
        height: 3rem;
    }



}

@media(max-width: 900px) {

    .about__title {
        font-size: 1.3rem;
        letter-spacing: unset;
    }

    .about__text {
        font-size: 0.7rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
        letter-spacing: unset;
    }
}

@media(min-width:800px) {
    .burger__btn {
        display: none;
    }
}



@media(max-width: 800px) {



    .header__menu {
        display: none;
    }

    .about {
        padding: 4rem 0;
    }

    .about__title {
        font-size: 1rem;
        letter-spacing: unset;
    }

    .about__text {
        font-size: 0.7rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        letter-spacing: unset;
    }

    .about__link {
        font-size: 1rem;

    }

    .services__text {
        font-size: 1rem;
    }

    .about__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .about__content {
        margin: 0 auto;
    }

    .about__img img {
        margin: 0 auto;
    }


    .about__img {
        margin-top: 1rem;
    }

    .info {
        transform: translateY(-5%);
    }

    .info__wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .info__block {
        width: 100%;
        margin-bottom: 1rem;
    }

    .info__item {
        text-align: center;
    }

    .process-info__block {
        width: 100%;
        margin-bottom: 1rem;
    }

    .info__item-process {
        text-align: center;
    }

    .services__wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .services__block {
        width: 100%;
    }

    .contact__wrapper {
        margin: 0 auto;
    }

    .process__title {
        font-size: 6rem;
    }

    .process__subtitle {
        font-size: 2rem;
    }
}

@media(max-width: 576px) {

    .header__logo img {
        width: 3rem;
    }


    .intro__title {
        font-size: 1.5rem;
    }


    .services__content {
        height: 20rem;
        background-position: center;

    }

    .about__img img {
        min-width: 200px;
        
    }

    .footer__wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .footer__links {
        margin-top: 1rem;
    }

    .process__title {
        font-size: 3rem;
    }

    .process__subtitle {
        font-size: 1rem;
    }

    .form__row {
        margin: 0 -10px;
    }

    .form__group {
        padding: 0 10px;
    }

    .textarea {
        min-width: 16.5rem;
    }

    .form__row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .process__wrapper {
        padding-bottom: 3rem;
    }
}


